

.first-page {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(96, 160, 216, 0.6), rgba(178,210, 52, 0.6)),
        url(images/Header_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 25px;

    .tagline {
        height: 271px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 126px;
            z-index: 1;
            position: absolute;
        }

        //rendre positionnement moins dégeu
        p {
            font-size: 54px;
            transform: rotate(-9deg);
            margin-top: 210px;
            margin-left: 150px;
        }
    }

    .icones-reseaux {
        width: 100%;
        display: flex;
        justify-content: flex-end;    

        img {
            padding-left: 1%;
        }
    }

}

@media screen and (max-width: 800px) {
    .first-page .tagline {
        
        h1 {
            font-size: 90px;
        }
        p {
            font-size: 38px; 
            margin-left: 110px;
        }   
    } 
}
@media screen and (max-width: 500px) {
    .first-page {
        height: 130vh;
    }
}

@media screen and (max-width: 420px) {
    .first-page {
        padding: 5%;
        .tagline {
            h1 {
                font-size: 70px;
            }
            p {
                font-size: 30px;
                margin-left: 0px;
                margin-top: 180px;
            }
        }
    } 
}