
.fifth-page {
    height: 100vh;
    background-image: url(images/louis-hansel-MlPD-AzZYMg-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 3%;
    gap: 16px;

    .card-ingredients {
        width: 50%;
        height: 40%;
        padding-inline: 5%;
        padding-block: 2%;
        text-align: center;

        &-vert {
            @extend .card-ingredients;
            background-color: rgba(178, 210, 52, 0.8);
        }

        &-bleu {
            @extend .card-ingredients;
            background-color: rgba(96, 160, 216, 0.8);
        }

        h2 {
            font-size: $title-font-size;
            padding-bottom: 40px;
        }

        .container-ingredients {
            display: flex;
            justify-content: space-evenly;
            align-content: center;
        }
    }
}

@media screen and (max-width: 1000px) {
    .fifth-page {
        flex-direction: column;
        height: auto;
        padding-block: 5%;
        .card-ingredients {
            width: 80%;
            height: auto;
            .container-ingredients {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .fifth-page .card-ingredients {

        h2 {
            font-size: 40px;
        }
        .container-ingredients {
            flex-direction: column;
        }
    }
}