
.sixth-page {
    background-image: url(images/Grille_de_répétition.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-inline: 2%;
    padding-block: 7%;

    .left-img {

        .container-cross {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;

            .cross-top {
                width: 8px;
                height: 524px;
                position: absolute;
                z-index: 10;
                background-color: white;
            }

            .cross-left {
                width: 524px;
                height: 8px;
                position: absolute;
                z-index: 10;
                background-color: white;
            }

            .container-img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }        
        }
    }

    .right-form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-right {

            h2 {
                color: $col-green;
                font-size: $title-font-size;
                padding-bottom: $default-font-size;
            }

            p {
                width: 70%;
            }

        }

        .form {
            color: $col-green;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            form {
                width: 100%;

                .container-la-in {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
    
                    label {
                        padding-bottom: 8px;
                        padding-top: 25px;
                    }
    
                    input {
                        height: 45px;
                        border: rgba(78, 78, 78, 0.2) solid 2px;
                    }
    
                    .last {
                        height: 135px;
                    }
                }
    
                .form-name {
                    display: flex;
                    gap: 16px;
                }
            }
        }

        .btn-vert-postuler {
            margin-top: 35px;
        }
    }
}

@media only screen and (max-width: 950px) {
    .sixth-page {
        flex-direction: column;
        padding-inline: 5%;
        .left-img .container-cross {
            height: 50%;
            width: auto;
            .cross-top {
                height: 419px;
            }
            .cross-left {
                width: 419px;
            }
        }
        img {
            width: 80%;
        }

        .right-form {
            .header-right {
                text-align: center;
                p {
                font-size: 24px;
                width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .sixth-page {
        .left-img .container-cross {
            .cross-top{
                height: 330px;
            }
            .cross-left {
                width: 330px;
            }
        }

        .right-form {
            .header-right h2{
                font-size: 40px;
            }
        }
    }
}


