

.third-page {

    height: 100vh;
    background-image: url(images/ismael-trevino-NDyuR4Huig8-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;

    .accroche {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(178, 210, 52, 0.8);
        padding: 2%;
        color: white;
        text-align: center;

        h2 {
            font-size: 40px;
            padding-bottom: 40px;
        }

        div {

            padding-bottom: 40px;
            p {
                font-size: $default-font-size;
                padding-bottom: $default-font-size;
            }
        }
        
    }
}

@media screen and (max-width: 1300px) {
    .third-page {
        justify-content: center;

        .accroche {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .third-page {
        height: auto;
        padding-block: 7%;

        .accroche {
            padding: 5%;
            div p {
            font-size: 24px;
            }
        }
    }
}

