// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-commande {
    width: 160px;
    height: 39px;
    background-color: white;
    color: $col-green;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-infos {
    width: 255px;
    height: 60px;
    background-color: $col-green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;

    &-inverted {
        @extend .btn-infos;
        background-color: white;
        color: $col-green;
    }
}

.btn-passer-commande {
    width: 355px;
    height: 60px;
    background-color: $col-green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 8px 10px rgba(97, 97, 97, 0.2);
}

.btn-postuler {
    @extend .btn-passer-commande;
    height: 60px;
    width: 225px;
}








